{% extends 'rent/base.html' %}
{% block content %}
    {% if user.is_authenticated %}
        <div style="text-align: center;">
            <h1>Dodaj salon</h1>
            {% if submitted %}
                Udało się wysłać!
            {% else %}

                <form action="" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Dodaj salon" class="btn btn-outline-secondary">
                </form>
            {% endif %}
        </div>
    {% else %}
        <h1> Nie jesteś zalogowany</h1>
        <a class="btn btn-outline-secondary" href="{% url 'login' %}">Zaloguj się</a>
    {% endif %}
{% endblock %}

