{% extends 'rent/base.html' %}
{% block content %}

    {% if user.is_authenticated %}

        <div style="text-align: left;">
            <h1>Stwórz zamówienie</h1>
            {% if submitted %}
                Pomyślnie utworzono zamówienie
            {% else %}
                <form action="" method="post">

                    {% csrf_token %}
                    {{ form.as_p }}

                    <input type="submit" value="Zamów" class="btn btn-outline-success">
                </form>
            {% endif %}
        </div>
    {% else %}
        <h1> Nie jesteś zalogowany</h1>
        <a class="btn btn-outline-secondary" href="{% url 'login' %}">Zaloguj się</a>
    {% endif %}
{% endblock %}

